#CONFIGURATION OF SQUAREDB\

# Set the bind address and port
SQUARE_BIND=127.0.0.1:7000

# Set the Endpoint 
SQUARE_ENDPOINT=db

# Set the password for SquareDB
SQUARE_PASSW=root

# Set the username for SquareDB
SQUARE_USER=root

# Set the maximum number of connections (0 for unlimited)
SQUARE_MAX_CONNECTIONS=1000

# Set the path to the web key file (leave empty if not using HTTPS)
SQUARE_WEB_KEY=

# Set the path to the web cert file (leave empty if not using HTTPS)
SQUARE_WEB_CERT=

# Set where the data must be saved
SQUARE_DATA_FOLDER=data

